:root {
    --primary-background-color: rgb(167, 231, 255);
    --primary-text-color: rgb(0, 0, 0);
    --secondary-text-color: rgb(255, 255, 255);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::selection {
	background-color: var(--primary-background-color);
	color: var(--secondary-text-color);
}

